<div id="welcome">
  <div class="container">
    <h1>What would you like to do?</h1>
    <hr/>
    <p>Either create a classroom for others to join or join a classroom that already exists. </p>
    <div class="buttons">
      <a class="btn btn-info" href="/create-classroom">Create a classroom</a> or <a class="btn btn-info" href="/account/profile">Join a classroom</a>
    </div>
  </div>

  <router-view></router-view>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
